<%= link_to users_path(@user.id) do %>
  < Back to Users
<% end %>

<div>
  <img src=<%= @user.photo %> >
  <h2><%= @user.name %></h2>
  <p>Number of posts: <%= @user.post_counter %></p>
</div>

<div>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<% if @user.posts.count > 0 %>
  <% @user.order_user_posts.each_with_index do |post, index| %>
    <%= link_to user_post_path(@user.id, post.id) do %>
      <div>
        <h3>Post <%= post.id %></h3>
        <p><%= post.text %></p>
        <p>Likes: <%= post.likes.count %></p>
        <p>Comments: <%= post.comments.count %></p>
      </div>
    <% end %>
  <% end %>

  <%= link_to user_posts_path(@user.id) do %>
    <button type="button">See all posts</button>
  <% end %>
<% else %>
  <p>@<%= @user.name %> has no posts yet.</p>
<% end %>

