<section>
  <%= link_to user_path(@current_user.id) do %>
    <p class="text-slate-200 text-sm p-2">< Back to <%= @current_user.name %> profile </p>
  <% end %>

  <article class="max-w-sm md:max-w-lg mx-auto my-4 py-2 px-4 border border-slate-200">
    <h2 class="text-center font-bold text-slate-200 text-xl mb-3">Create new post</h2>
    <%= form_with class:"flex flex-col gap-y-3", model: @post, url: user_posts_path(@current_user) do |form| %>
      <div class="flex flex-col gap-y-1">
        <%= form.label :title, class:"font-semibol text-slate-200 text-md" %>
        <%= form.text_field :title, class:"rounded" %>
      </div>
      
      <div class="flex flex-col gap-y-1">
        <%= form.label :text, class:"font-semibol text-slate-200 text-md" %>
        <%= form.text_field :text, class:"rounded" %>
      </div>
      
      <div class="flex justify-center">
        <%= form.submit "Add Post", class:"border border-slate-200 font-bold text-md py-1 px-4 text-slate-200 mt-3" %>
      </div>
    <% end %>
  </article>
</section>